:root{
    --blanco: #ffffff;
    --verde-claro: #009341;
    --amarillo: #FFC107;
    --azul: #1B396A;
    --secundario: #0097A7;
    --verde: #0B211C;
    --gris: #D9D9D9;
}
/* GLOBALES */
html{
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after{
    box-sizing: inherit;
}
body{
    font-size: 13px;
    font-family: 'Montserrat',sans-serif,;
    background-color: #D9D9D9;
}
.header{
    background-color: var(--azul);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 15rem;
    padding-right: 10rem;
}
.header-tittle{
    display: flex;
    justify-content: center;
    margin-left: 10rem;
    font-family: 'Montserrat';
}
.header-log{
    margin-left: 100rem;
    position: relative;
    left: 7%;
    bottom: 65px;
}
.links{
    position: relative;
}
.links a{
    color: #ffffff;
    font-family: 'Montserrat';
    font-size: 2rem;
    text-decoration: none;
}
.links a:hover{
    background-color: #FFFFFF;
    color: #000000;
    border-radius: .5rem;
}
.link-inicio{
    position: relative;
    left: 320px;
}
.link-registro{
    position: relative;
    left: 530px;
}
.link-listas{
    position: relative;
    left: 470px;
}
.link-alumno{
    position: relative;
    left: 420px;
}
.link-cuenta{
    position: relative;
    left: 580px;
}
/*
@media (min-width: 768px) {
   .header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
   }
}*/
.header-tittle h2{
    background-color: var(--primario);
    color: #FFC107;
    padding: 10px;
    margin-bottom: 30px;
    
}
.header-logo{
    height: 90px;
    right: 50px;
}
.header-tittle{
    color: #FFC107;
}
.header-nav{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav-links{
    color: white;
    text-decoration: none;
}
.nav-links a{
    color: #FFFFFF;
    text-decoration: none;
}
.nav-links li{
    margin: 0 10px;
}