:root{
    --blanco: #ffffff;
    --verde-claro: #009341;
    --amarillo: #FFC107;
    --azul: #1B396A;
    --secundario: #0097A7;
    --verde: #0B211C;
    --grisClaro: #DFE9F3;
}
/* GLOBALES */
html{
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after{
    box-sizing: inherit;
}
body{
    font-size: 13px;
    font-family: 'Montserrat',sans-serif,;
    background-color: #D9D9D9;
}
.header{
    background-color: var(--azul);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 15rem;
    padding-right: 10rem;
}
.header-tittle{
    display: flex;
    justify-content: center;
    margin-left: 10rem;
    font-family: 'Montserrat';
}
.header-log{
    margin-left: 100rem;
    position: relative;
    left: 7%;
    bottom: 65px;
}
.links{
    position: relative;
}
.links a{
    color: #ffffff;
    font-family: 'Montserrat';
    font-size: 2rem;
}
a:hover{
    background-color: #FFFFFF;
    color: #000000;
    text-decoration: none;
}
.link-inicio{
    position: relative;
    left: 350px;
    text-decoration: none;
}
.link-logout{
    position: relative;
    left: 750px;
    text-decoration: none;
}
/*
@media (min-width: 768px) {
   .header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
   }
}*/
.header-tittle h2{
    background-color: var(--primario);
    color: #FFC107;
    padding: 10px;
    margin-bottom: 30px;
    
}
.header-logo{
    height: 90px;
    right: 50px;
}
.header-tittle{
    color: #FFC107;
}
.header-nav{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav-links{
    color: white;
    text-decoration: none;
}
.nav-links a{
    color: #FFFFFF;
}
.nav-links li{
    margin: 0 10px;
}
.label-periodo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    font-family: 'Inria', sans-serif;
    font-weight: regular;
    font-size: 1.5rem;
    background-color: var(--verde-claro);
    width: 25%;
    border-radius: 10px;
    color: #FFFFFF;
    margin: 2rem auto;
}
.tabla{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 1rem;
    width: min(80%,100%);
    padding: .5rem;
    border-radius: 1rem;
    margin: 0 auto;
}
.encabezado{
    font-family: 'Inria', sans-serif;
    font-weight: bold;
    text-align: center;
    background-color: var(--verde-claro);
    color: var(--blanco);
    padding: .5rem;
}
.fila{
    color: var(--azul);
    text-decoration: none;
    font-family: 'Inria', sans-serif;
}
.celda{
    padding: .5rem;
    border: .2rem solid var(--blanco);
    text-align: center;
}
